<div id="homePage-container">
     <div id="form-wrapper">
        <form action="/artist-search" id="search-form">
         <input type="text" name="q" id="search-input">
         <button type="submit" id="search-btn">Search for an Artist</button>
         
        </form>
      
     </div>
    
</div>
  <script src="/javascript/index.js"></script>